h1 {
    color: hotpink;
    font-size: 200%;
}

p {
  font-family: serif;
  text-indent: 20px;
  margin-left: 10px;
}

#context {
  background-color: #ffcef0;
  width: 500px;
  min-height: 300px;
  padding: 10px;
  margin: 10px;
  border: solid 1px #444444;
  font-size: 20px;
}